@model OrderCategoriesViewModel


<body id="home">
    @Html.Partial("MainNavigationPartial", Model.Categories)
    <section id="topsection">
        <div class="wrapper">
            
                
                    @if(null == Model.Order)
                    {
                        <div class="row">
                            <a>Your Cart is Empty!</a>
                        </div>
                    }
                    else if (0 == Model.Order.OrderId)
                    {
                        <div class="row">
                            <a>Your Cart</a>
                        </div>
                            <table width="100%">
                                
                                <thead>
                                <tr>
                                    <th align="left" colspan="3">Product</th>
                                    <th align="left" colspan="3">Description</th>
                                    <th align="right" colspan="3">Quantity</th>
                                    <th align="right" colspan="3">Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (OrderLine orderLine in Model.Order.OrderLines)
                                {
                                    <tr>
                                        <td align="left" colspan="3">@orderLine.Product.ProductName</td>
                                        <td align="left" colspan="3">@orderLine.Product.Description</td>
                                        <td align="right" colspan="3">@orderLine.Quantity</td>
                                        <td align="right" colspan="3">@orderLine.Amount</td>
                                    </tr>
                                }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td align="left" colspan="6">Order Total:</td>
                                        <td align="right" colspan="6">@Model.Order.OrderTotal()</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <br/>
                        @Html.Partial("AddressFormPartial", Model.Order)
                        @if(null != Model.Order.Address) { 
                        <div class="row">
                            <a asp-action="PlaceOrder" 
                               asp-controller="Order"
                               class="buttonlink">Place Order</a>
                        </div>
                        }

                    }
                    else
                    {
                        <div class="row">
                            <a>
                                Your Order #@Model.Order.OrderId Has Been Received Successfully!
                                @{ 
                                    Model.Order.ResetOrder();
                                }
                            </a>
                        </div>
                    }

        </div>
    </section>

</body>
