@model CategoriesAddressesViewModel
@{ 
    var addressid = -1;
    var name = "";
    var address1 = "";
    var address2 = "";
    var city = "";
    var state = "";
    var email = "";
}

<body id="home">
    @Html.Partial("MainNavigationPartial", Model.Categories)
    <section id="topsection">
        <div class="wrapper">
            <div class="row">
                @foreach(Address address in Model.Addresses){
                    addressid = (address.AddressId == 0) ? -1 : address.AddressId;
                    name = address.Name;
                    address1 = address.Address1;
                    address2 = address.Address2;
                    city = address.City;
                    state = address.State;
                    email = address.Email;
                <form id="updateAddress"
                      asp-controller="Address" asp-action="UpdateAddress" method="post">
                    <input type="hidden" name="addressid" value="@addressid" />
                    <input type="text" id="name" placeholder="Name" name="name" value="@name" />
                    <input type="text" id="address1" placeholder="Address1" name="address1" value="@address1" />
                    <input type="text" id="address2" placeholder="Address2" name="address2" value="@address2" />
                    <input type="text" id="city" placeholder="City" name="city" value="@city" />
                    <input type="text" id="state" placeholder="State" name="state" value="@state" />
                    <input type="text" id="email" placeholder="Email" name="email" value="@email" />

                    <input type="submit" runat="server" value="Add/Update" />
                </form>
                @if(addressid != -1 && (address.Orders == null || address.Orders.Count == 0))
                {
                <form id="@address.AddressId"
                      asp-controller="Address" asp-action="DeleteAddress" method="post">
                    <input type="hidden" name="addressid" value="@address.AddressId" />

                    <input type="submit" value="Delete Address" />
                </form>
                }
                @if(address.Orders != null && address.Orders.Count > 0)
                {
                    <br/>
                    <a>This address cannot be deleted as it is associated with an Order.</a>
                }
                }
                <br /><br />
            </div>
        </div>
    </section>

</body>