@model CategoriesAddressesViewModel


<body id="home">
    @Html.Partial("MainNavigationPartial", Model.Categories)
    <section id="topsection">
        <div class="wrapper">
            <div class="row">
                
                    @if(null == Model.Addresses)
                    {
                        <a>There are no addresses in the Address Book</a>

                    }
                    else {
                        <table width="100%">
                            <tr>
                                <th align="left">Name</th>
                                <th align="right">City</th>
                                <th align="right">Email</th>
                            </tr>

                            @foreach(Address address in Model.Addresses)
                            {
                            <tr>
                                <td align="left">@address.Name</td>
                                <td align="right">@address.City, @address.State</td>
                                <td align="right">@address.Email</td>
                                <td nowrap="nowrap"> 
                                    <a class="buttonlink"
                                        asp-action="EditAddress"
                                        asp-controller="Address"
                                        asp-route-addressid="@address.AddressId">
                                        Edit/Delete
                                    </a>
                                </td>
                            </tr>
                            }
                        </table>
                    }
            </div>
        </div>
    </section>

</body>
