@model List<Category>

<body id="home">
    @Html.Partial("MainNavigationPartial", Model)
    @{
        var currcat = "";
    }
    <section id="topsection">
        <div class="wrapper">
            <div class="row">
                <table width="100%">
                    @foreach (Category category in Model)
                    {
                        if (null != category.Products && category.Products.Count > 0)
                        {
                            <tr>
                                <th align="left">Product</th>
                                <th align="left">Description</th>
                                <th align="right">Price</th>
                            </tr>
                            if(null == category.Products[0].Catalog)
                            {
                                <tr>
                                    <th align="left">@category.CategoryName</th>
                                </tr>
                            }

                            @foreach (Product product in category.Products)
                            {
                                if(null != product.Catalog && !product.Catalog.CatalogName.Equals(currcat))
                                {

                                    currcat = product.Catalog.CatalogName;
                                    <tr>
                                        <th align="left">@category.CategoryName > @currcat</th>
                                    </tr>

                                }
                                <tr>
                                    <td align="left">
                                        @product.ProductName,
                                    </td>
                                    <td align="left">
                                        @product.Description
                                    </td>
                                    <td align="right">
                                        @product.Price
                                    </td>
                                    <td nowrap="nowrap">
                                        <a asp-action="AddToCart"
                                                asp-controller="Order"
                                                asp-route-productid="@product.ProductId"
                                                class="buttonlink rightfloat">
                                                Add To Cart
                                        </a>
                                    </td>
                                </tr>
                                
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </section>
</body>